<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>LiveRover</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link href='http://fonts.googleapis.com/css?family=Lobster|Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="icon" type="image/png" href="/img/favicon.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.3.1/underscore-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.0/backbone-min.js"></script>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCJvqOiQah_2LJ7bMnpvgAhYPf5CDGMQ-0&sensor=true&libraries=geometry"></script>
  <script type="text/javascript" src="js/map.js"></script>
  <script type="text/javascript" src="js/date.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/tooltip.js"></script>
  <script type="text/javascript" src="js/popover.js"></script>
  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div class="wrapper">
    <div id="header">
      <div id="logo">
        LiveRover
      </div>
      <img src="/img/loading.gif" class="loader" />
      <img src="http://maps.gstatic.com/mapfiles/openhand_8_8.cur" id="bugfix-image" /> <!-- See http://goo.gl/6OXnX for rationale -->
      <div class="date">
        <a class="prev" class="disabled" href="#"><span class="icon">←</span></a>
        <div class="date-value"></div>
        <input type="text" class="date-input" name="date" style="display: none;" />
        <a class="next" href="#"><span class="icon">→</span></a>
      </div>
      <div id="credit">
        powered by the <b>SeatGeek API</b> <a target="_blank" href="http://api.seatgeek.com/2/docs">(more)</a>
      </div>
    </div>
    <div id="map"></div>
  </div>
  
  <script type="text/html" id="info-window">
    <h4 class="event-title"><a target="_blank" href="{{ link }}">{{ title }}</a></h4>
    <div class="venue">{{ venue }}</div>
    <div class="time">{{ time }}</div>
    ~ if(count && (low > 0)) { ~
      <div class="stats"><b>{{ count }}</b> listings starting at <b>${{ low }}</b></div>
    ~ } ~
  </script>
  
</body>
</html>